p{
    /* width:100; */
    float: left;
    border: 1px solid red;
    margin: 0 100px;
}


img{
     width:200px;
     height:200px;
     border:10px dashed blue;
     border-radius: 0 0 50% 50%;
    }